<dov class="row">
  <div class="col-md-3 hidden-sm"></div>
  <div class="col-md-6 col-sm-12">
    <h1 class="body-title">New Post</h1>

    <form {{action 'save' on="submit"}}>
      <h3 class="body-title">Cover Photo</h3>
      {{file-upload action="handleCoverUpload"}}
      <h3 class="body-title">Title</h3>
      {{input class="form-control body-title" type="text" value=title cols="80"}}
      <h3 class="body-title">Content</h3>
      {{textarea class="form-control body-title" value=description cols="80" rows="6"}}
      <div class="row">
        <div class="col-sm-6">
          Large post:</br>{{input type="checkbox" name="largePost" checked=large}}
        </div>
        <div class="col-sm-6">
          Full row post:</br>{{input type="checkbox" name="fullWidth" checked=fullWidth}}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
  <div class="col-md-3 hidden-sm"></div>
</div>
