{{#unless auth.authed}}
<div class="row">
  <div class="col-md-3 hidden-sm"></div>
  <div class="col-md-6 col-sm-12">
    <h1 class="body-title">Log In</h1>
    {{input value=username placeholder="email" type='text' class='form-control admin-input'}}
    {{input value=password placeholder="password" type='password' class='form-control admin-input'}}
    <button type="button" class="btn btn-primary" {{action 'doLogin'}} aria-hidden="true">Log In</button>
  </div>
  <div class="col-md-3 hidden-sm"></div>
</div>
{{else}}
<div class="row">
  <div class="col-md-3 hidden-sm"></div>
  <div class="col-md-6 col-sm-12">
    <h1 class="body-title">Welcome back {{auth.username}}</h1>
    <h3 class="body-title">Change Username</h3>
    {{#if newUsernameSuccess}}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Success!</strong> You're now <strong>{{auth.username}}</strong>!
    </div>
    {{/if}}
    {{input value=newUsername type='text' class='form-control admin-input'}}
    <button type="button" class="btn btn-primary" {{action 'setUsername'}} aria-hidden="true">Save username</button>
    <h3 class="body-title">Change Password</h3>
    {{input value=newPassword placeholder="Current password" type='password' class='form-control admin-input'}}
    {{input value=newPassword placeholder="New password" type='password' class='form-control admin-input'}}
    {{input value=newPasswordVerify placeholder="Verify password..." type='password' class='form-control admin-input'}}
    <button type="button" class="btn btn-primary" {{action 'doLogin'}} aria-hidden="true">Save password</button>
  </div>
  <div class="col-md-3 hidden-sm"></div>
</div>
{{/unless}}
