<div id="post-view" class="row">
  <div class="row">
    <div class="col-sm-12">
      <div class="post-detail" {{bind-attr style=model.inlineStyle}}></div>
    </div>
  </div>
  <div class="row">
    {{#each ph in model.subPhotos}}
      <div class="col-xs-6 col-sm-2 padding-fix" {{action 'imageModal' ph}}>
        <div class="album-listing hover-scale" {{bind-attr style=ph.inlineStyle}}></div>
      </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="body-title">{{model.title}}</h1>
      <h5 class="body-title">{{format-date model.date}}</h5>
      <h5 class="body-title">{{model.author}}</h5>
      <div class="row">
        <div class="col-md-3 col-sm-2 hidden-xs"></div>
        <div class="col-md-6 col-sm-8 col-xs-12">
          <h4 class="body-text">{{showdown-addon model.description}}</h4>
        </div>
        <div class="col-md-3 col-sm-2 hidden-xs"></div>
      </div>
      <form {{action 'edit' on="click"}}>
        <div class="btn-group">
          {{#if auth.authed}}
            <button type="submit" class="btn btn-primary">Edit</button>
          {{/if}}
        </div>
      </form>
    </div>
  </div>
</div>

<div id="edit-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="loading-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="add-category-label">Edit Post</h4>
      </div>
      <div class="modal-body">
        <form {{action 'save' on="submit"}}>
        <div class="row">
          <img class="edit-cover" {{bind-attr src=model.coverPhoto.url}}/>
        </div>
          <dl>
            <dt>Upload a new cover photo:</br> {{file-upload action="handleCoverUpload"}}</dt>
            <dt>Title:</br> {{textarea class="form-control" value=model.title rows="1"}}</dt>
            <dt>Description:</br> {{textarea class="form-control" value=model.description rows="8"}}</dt>
            <dt>
              <div class="row">
                {{#each ph in model.subPhotos}}
                  <div class="col-xs-3">
                    <img class="edit-img" {{bind-attr src=ph.url}}/>
                  </div>
                {{/each}}
              </div>
            </dt>
            <dt>Upload new album photos:</br> {{file-upload action="handleSubUpload"}}</br></dt>
          </dl>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-right" {{action 'save'}}>Save</button>
        <button type="button" class="btn btn-danger pull-left" {{action 'del' on='click'}} aria-hidden="true">Delete</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div id="image-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="loading-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="post-detail" {{bind-attr style=selectedPhoto.inlineStyle}}></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Close</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
