<div id='posts-main' class="row">
    <div {{bind-attr class="postVisible:hidden:col-sm-12"}}>
        <div class="container">
            {{#each p in model}}
              {{#if p.fullWidth}}
                <div class="col-sm-12 padding-fix">
                    <div class="full-post" {{action 'transitionToPost' p}} {{bind-attr style=p.inlineStyle}}>
                        <div align="center" class="hover-fix">
                            <p>{{p.title}}</p>
                            <p style="margin-top: 15px;">{{format-date p.date}}</p>
                        </div>
                    </div>
                </div>
              {{else}}
                  <div {{bind-attr class="p.large:col-sm-12:col-sm-6 p.large:col-md-8:col-md-4 p.large:col-lg-9:col-lg-3 :padding-fix"}}>
                      <div class="normal-post" {{action 'transitionToPost' p}} {{bind-attr style=p.inlineStyle}}>
                          <div align="center" class="hover-fix">
                              <p>{{p.title}}</p>
                              <p style="margin-top: 15px;">{{format-date p.date}}</p>
                          </div>
                      </div>
                  </div>
              {{/if}}
            {{/each}}
        </div>
    </div>
    <div {{bind-attr class="postVisible:col-sm-12:hidden"}}>
      {{outlet}}
    </div>
</div>
